:host {
  display: block;
  position: relative;

  .yue-ui-table-wrapper {
    display: block;
    position: relative;

    .yue-ui-table-wrapper-inner {
      display: block;
      position: relative;

      .yue-ui-table-el {
        display: block;
        position: relative;
        width: 100%;

        .yue-ui-table-header-el {

          .yue-ui-table-header-row-el {

            .yue-ui-table-header-row-th-el {}
          }
        }

        .yue-ui-table-body-el {

          .yue-ui-table-body-row-el {

            .yue-ui-table-body-row-td-el {}
          }
        }
      }
    }
  }
}
