@import "./vars.less";




.loop-grid-columns(@index, @class) when (@index > 0) {
  .yue-ui-grid-col@{class}-@{index} {
    display: block;
    flex: 0 0 percentage((@index / @grid-columns));
    max-width: percentage((@index / @grid-columns));
  }
  .yue-ui-grid-col@{class}-push-@{index} {
    left: percentage((@index / @grid-columns));
  }
  .yue-ui-grid-col@{class}-pull-@{index} {
    right: percentage((@index / @grid-columns));
  }
  .yue-ui-grid-col@{class}-offset-@{index} {
    margin-left: percentage((@index / @grid-columns));
  }
  .yue-ui-grid-col@{class}-order-@{index} {
    order: @index;
  }
  .loop-grid-columns((@index - 1), @class);
}

.loop-grid-columns(@index, @class) when (@index = 0) {
  .yue-ui-grid-col@{class}-@{index} {
    display: none;
  }
  .yue-ui-grid-col-push-@{index} {
    left: auto;
  }
  .yue-ui-grid-col-pull-@{index} {
    right: auto;
  }
  .yue-ui-grid-col@{class}-push-@{index} {
    left: auto;
  }
  .yue-ui-grid-col@{class}-pull-@{index} {
    right: auto;
  }
  .yue-ui-grid-col@{class}-offset-@{index} {
    margin-left: 0;
  }
  .yue-ui-grid-col@{class}-order-@{index} {
    order: 0;
  }
}

.make-grid(@class: ~'') {
  .loop-grid-columns(@grid-columns, @class);
}

.yue-ui-grid {
  display: flex;
  flex-flow: row wrap;

  &::before,
  &::after {
    display: flex;
  }
}

.yue-ui-grid-start {
  justify-content: flex-start;
}

.yue-ui-grid-center {
  justify-content: center;
}

.yue-ui-grid-end {
  justify-content: flex-end;
}

.yue-ui-grid-space-between {
  justify-content: space-between;
}

.yue-ui-grid-space-around {
  justify-content: space-around;
}

.yue-ui-grid-top {
  align-items: flex-start;
}

.yue-ui-grid-middle {
  align-items: center;
}

.yue-ui-grid-bottom {
  align-items: flex-end;
}

.yue-ui-grid-col {
  position: relative;
  max-width: 100%;
  min-height: 1px;
}

.make-grid();

.make-grid(-xs);

@media (min-width: @screen-sm-min) {
  .make-grid(-sm);
}

@media (min-width: @screen-md-min) {
  .make-grid(-md);
}

@media (min-width: @screen-lg-min) {
  .make-grid(-lg);
}

@media (min-width: @screen-xl-min) {
  .make-grid(-xl);
}

@media (min-width: @screen-xxl-min) {
  .make-grid(-xxl);
}
