body {
  overflow   : hidden;
  overflow-y : hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: -apple-system,blinkmacsystemfont,'segoe ui',roboto,oxygen,ubuntu,'fira sans','droid sans','helvetica neue',sans-serif;
  font-size: 0.850rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;

  background: var(--background);
  color: var(--color);

}

* {
  padding: 0;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 2px solid var(--scrollbar-thumb-border);
  background: var(--scrollbar-thumb-background);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-background);
}

*[href] {
  text-decoration: none;
  color: var(--link);
  
  &:hover {
    text-decoration: underline;
    color: var(--link-hover);
  }
}
