body {
  overflow   : hidden;
  overflow-y : hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: -apple-system,blinkmacsystemfont,'segoe ui',roboto,oxygen,ubuntu,'fira sans','droid sans','helvetica neue',sans-serif;
  font-size: 0.850rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  background: var(--body-background);
  color: var(--body-color);

}

* {
  padding: 0;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--body-scrollbar-thumb-background);
}

::-webkit-scrollbar-track {
  background: var(--body-scrollbar-track-background);
}
