@import "./../../styles/clear-fix.less";

@padding: 16px;
@height: 40px;
@horizontal-height: 46px;
@horizontal-margin: -1px 20px 0;
@ease-in-out: cubic-bezier(.645,.045,.355,1);
@base-menu-selector: ~'yue-ui-menu';

.@{base-menu-selector} {
  display: block;
  position: relative;
  width: 100%;

  .clear-fix;

  &-vertical:not(&-sub) {
    border-right: 1px solid var(--components-menu-divider);
  }

  &-horizontal {
    border: 0;
    border-bottom: 1px solid var(--components-menu-divider);
    line-height: @horizontal-height;

    .@{base-menu-selector} {

      &-item, &-submenu, &-group {
        position: relative;
        top: 1px;
        display: inline-block;
        vertical-align: bottom;
        border-bottom: 2px solid transparent;
        margin: @horizontal-margin;
        padding: 0;
        line-height: @horizontal-height;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        color: var(--components-menu-color);
        background: var(--components-menu-background);

        &[href] {
          text-decoration: none;
        }

        &:not(&-disabled):hover {
          color: var(--components-menu-selected-color);
        }

        i:not(.@{base-menu-selector}-submenu-arrow) {
          margin-right: 10px;
          line-height: 1;
          font-size: 14px;
        }

        &-selected {
          color: var(--components-menu-selected-color);
          border-bottom: 2px solid var(--components-menu-selected-color);
        }

        &-disabled {
          cursor: not-allowed;
          color: var(--components-menu-disabled-color);
          border-bottom-color: transparent;
        }

      }

      &-submenu-title {
        padding: 0px;
      }

      &-divider {
        display: inline-block;
        width: 1px;
        height: @horizontal-height;
        vertical-align: bottom;
        margin: 0px 10px;
      }
    }
  }

  &-vertical,
  &-vertical-left,
  &-vertical-right,
  &-inline {

    > .@{base-menu-selector}-submenu-title .@{base-menu-selector}-submenu-arrow {
      position: absolute;
      top: 50%;
      right: 16px;
      width: 10px;
      transition: transform 0.3s @ease-in-out;

      &::before,
      &::after {
        position: absolute;
        width: 6px;
        height: 1.5px;
        background-image: linear-gradient(to right, var(--components-menu-color), var(--components-menu-color));
        border-radius: 2px;
        transition: background 0.3s @ease-in-out, transform 0.3s @ease-in-out, top 0.3s @ease-in-out;
        content: '';
      }
      &::before {
        transform: rotate(45deg) translateY(-2px);
      }
      &::after {
        transform: rotate(-45deg) translateY(2px);
      }
    }

    > .@{base-menu-selector}-submenu-title:hover .@{base-menu-selector}-submenu-arrow {
      &::after,
      &::before {
        background: linear-gradient(to right, var(--components-menu-selected-color), var(--components-menu-selected-color));
      }
    }
  }

  &:not(&-horizontal) &-item {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 @padding;
    line-height: @height;
    cursor: pointer;
    color: var(--components-menu-color);
    background: var(--components-menu-background);
    transition: all 300ms ease-in-out;
    overflow: hidden;
    line-height: 40px;
    text-overflow: ellipsis;

    &[href] {
      text-decoration: none;
    }

    i {
      margin-right: 10px;
      line-height: 1;
      font-size: 14px;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-right: 3px solid var(--components-menu-ink);
      transform: scaleY(.0001);
      opacity: 0;
      transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1);
      content: '';
    }

    &-selected {
      color: var(--components-menu-selected-color);
      background: var(--components-menu-selected-background);

      &::after {
        transform: scaleY(1);
        opacity: 1;
      }
    }

    &-disabled {
      color: var(--components-menu-disabled-color);
      background: var(--components-menu-disabled-background);
      cursor: not-allowed;

      &::after {
        transform: scaleY(.0001);
        opacity: 0;
      }
    }

    &:hover {

      &:not(.@{base-menu-selector}-item-disabled):not(.@{base-menu-selector}-item-selected) {

        color: var(--components-menu-hover-color);
        background: var(--components-menu-hover-background);
      }
    }
    
    &:not(&-disabled):not(&-selected):hover {
      color: var(--components-menu-hover-color);
      background: var(--components-menu-hover-background);
    }
  }

  &:not(&-horizontal) &-submenu-title {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 @padding;
    line-height: @height;
    cursor: pointer;
    color: var(--components-menu-color);
    background: var(--components-menu-background);
    transition: all 300ms ease-in-out;
    overflow: hidden;
    line-height: 40px;
    text-overflow: ellipsis;

    &[href] {
      text-decoration: none;
    }

    i {
      margin-right: 10px;
      line-height: 1;
      font-size: 14px;
    }

    &-selected {
      color: var(--components-menu-selected-color);
    }

    &-disabled {
      color: var(--components-menu-disabled-color);
      background: var(--components-menu-disabled-background);
      cursor: not-allowed;
    }

    &:hover {

      &:not(.@{base-menu-selector}-submenu-title-disabled):not(.@{base-menu-selector}-submenu-title-selected) {

        color: var(--components-menu-hover-color);
      }
    }
    
    &:not(&-disabled):not(&-selected):hover {
      color: var(--components-menu-hover-color);
    }
  }

  &-group {
    display: block;
    position: relative;

    &-label {

      display: block;
      position: relative;
      width: 100%;
      padding: 0 0 0 10px;
      line-height: @height;
      cursor: pointer;
      color: var(--components-menu-group-color);
      background: var(--components-menu-group-background);
      transition: all 300ms ease-in-out;
      overflow: hidden;
      line-height: 40px;
      text-overflow: ellipsis;
  
      i {
        margin-right: 10px;
        line-height: 1;
        font-size: 14px;
      }
    }
  }

  &-submenu &-group-label {
    padding: 0 0 0 24px;
  }

  &-divider {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin: 20px 0px 10px 0px;
    background: var(--components-menu-divider);
  }

}
