:host {
  display    : block;
  position   : relative;
  width      : 100%;
  cursor     : pointer;
  transition : background 100ms ease-in-out, color 100ms ease-in-out;
  user-select: none;

  &:hover:not(.selected) {
    background: var(--formulary-input-select-option-hover-background-color);
  }

  &.focused:not(.selected) {
    background: var(--formulary-input-select-option-hover-background-color);
  }

  .option-wrapper {
    height     : 28px;
    line-height: 28px;
    padding    : 0px 10px;

    &.selected {
      color     : var(--formulary-input-select-option-selected-color);
      background: var(--formulary-input-select-option-selected-background-color);
    }
  }
}
