:host {
  display: block;
  position: relative;
  
  .input-label-container {
    height: 16px;
    
    .input-label {
      color      : var(--formulary-label-color);
      font-size  : 12px;
      font-weight: 600;
      line-height: 16px;
      float      : none;
      margin     : 0 16px 0 0;
      display    : block;
      text-align : left;
      width      : auto;
    }

    .required-indicator {
      position           : static;
      left               : 100%;
      top                : 5px;
      background-image   : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAARUlEQVR4AWOAgQsu5v8ZSAIIjaVAbA4yAEqXkmpAMxDfABkApZtJNYARiHtABkBpRlIN0AbiK0AcBMQrQHyGkQdGwSgAAPtCJnBUV/TSAAAAAElFTkSuQmCC');
      background-repeat  : no-repeat;
      background-position: 0 0;
      border             : none;
      display            : inline-block;
      height             : 16px;
      margin             : 0;
      padding            : 0;
      text-align         : left;
      text-indent        : -999em;
      vertical-align     : text-bottom;
      width              : 16px;
    }

    &.invalid {
      color : var(--formulary-label-invalid-color);
    }
  }
}
