:host {
  display    : block;
  position   : relative;
  width      : 100%;
  font-weight: 400;
  font-style : normal;
  line-height: 20px;
  font-size  : 12px;
  color      : var(--color-muted);
  clear      : left;

  .input-descriptor-wrapper {
    min-height: 20px;

    .input-descriptor-container {
      display : block;
      position: relative;

      .input-descriptor {
        margin    : 0;
        padding   : 15px 0 0 0;
        opacity   : 1;
        transition: opacity 100ms ease-in-out;
        color     : var(--color-muted);
      }

    }

    .input-descriptor-error {
      position   : absolute;
      left       : 0;
      top        : 0;
      opacity    : 0;
      font-weight: 400;
      font-style : normal;
      line-height: 20px;
      font-size  : 12px;
      color      : var(--formulary-descriptor-invalid-color);
      clear      : left;
      transition : opacity 100ms ease-in-out;
    }

    &.invalid {

      .input-descriptor-error {
        opacity: 1;
      }
    }
  }
}
